<!-- !!!section HERO!!! -->
<section class="hero section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-row-header">
        <h1 class="hero-title" id="studio">
          Savor the Essence of Specialty Coffee
        </h1>
      </div>
      <div class="hero-row-descr">
        <p class="hero-text">
         At CoffeeJoy, we believe every cup tells a story. Join us in exploring the rich flavors and aromas of our carefully curated coffee selections.
        </p>
        <a class="hero-btn" href="#products">
         Learn more
        </a>
      </div>
    </div>

   <picture>
        <source
            media="(min-width: 1440px)"
            srcset="
            /img/hero/hero-desk-min.jpg 1x,
            /img/hero/hero-desk@2x-min.jpg 2x"
        />
        <source
            media="(min-width: 768px)"
            srcset="
            /img/hero/hero-tab-min.jpg 1x,
            /img/hero/hero-tab@2x-min.jpg 2x"
        />
        <source
            media="(max-width: 767px)"
            srcset="
            /img/hero/hero-mob-min.jpg 1x,
            /img/hero/hero-mob@2x-min.jpg 2x"
        />
        <img src="/img/hero/hero-desk-min.jpg" alt="Home screensaver with a cup of coffee and a croissant">
    </picture>
  </div>
</section>